.about-box-main {
	padding-bottom: 100px;
}

.noo-sh-title {
	font-size: 28px;
	text-transform: uppercase;
	font-style: italic;
	font-weight: 700;
}

.our-team {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease 0s;
}
.our-team:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
.our-team img {
	width: 100%;
	height: 300px;
	transition: all 0.3s ease-in-out 0s;
}
.our-team:hover img {
	opacity: 0.5;
}
.our-team .team-content {
	color: #000;
	opacity: 0;
	position: absolute;
	bottom: 30px;
	left: 40px;
	transform: translate(-10px, 0px);
	transition: all 0.3s ease 0s;
}
.our-team:hover .team-content {
	opacity: 1;
	transform: translate(20px, 0px);
	transition-delay: 0.2s;
}
.our-team .title {
	display: block;
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 7px 0;
}
.our-team .post {
	display: block;
	font-size: 15px;
}
.our-team .social {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 35px;
	text-align: center;
	opacity: 0;
	position: absolute;
	bottom: 35px;
	transition: all 0.3s ease 0s;
}
.our-team:hover .social {
	opacity: 1;
}
.our-team .social li {
	display: block;
}
.our-team .social li a {
	text-decoration: none;
	display: inline-block;
	width: 35px;
	height: 35px;
	line-height: 35px;
	background: #010101;
	font-size: 17px;
	color: #fff;
	opacity: 0.9;
	position: relative;
	transform: translate(-35px, 35px);
	transition: all 0.3s ease-in-out 0s;
}
.our-team .social li a:hover {
	width: 40px;
	background: #1473e6;
	transition-delay: 0s;
}
.our-team .icon {
	width: 35px;
	height: 35px;
	line-height: 35px;
	background: #1473e6;
	text-align: center;
	color: #fff;
	position: absolute;
	bottom: 0;
}
.team-description {
	padding: 20px 0px;
}
.team-description p {
	font-size: 14px;
	margin: 0px;
}
.hover-team:hover .team-content {
	opacity: 1;
	transform: translate(20px, 0px);
	transition-delay: 0.2s;
}
.hover-team:hover .social {
	opacity: 1;
}
.hover-team:hover .social li:nth-child(1) a {
	transition-delay: 0.3s;
}
.hover-team:hover .social li:nth-child(2) a {
	transition-delay: 0.2s;
}
.hover-team:hover .social li:nth-child(3) a {
	transition-delay: 0.1s;
}
.hover-team:hover .social li:nth-child(4) a {
	transition-delay: 0s;
}
.hover-team:hover .social li a {
	transform: translate(0, 0);
}
.hover-team:hover img {
	opacity: 0.5;
}
